*{margin: 0;padding: 0;}

body{
  background: #D6D6D6;
  height: 100%;
}

.container{
  background: white;
  width: 70%;
  margin: auto;
}
.visualizacion{
  float: left;
  margin:auto;
  width: 100%;
}
