*{margin: 0;padding: 0;}
header{
  width: 100%;
  overflow: hidden;
  background: #305AF0;
}

.p-3{
  margin: auto;
  padding: 1em;
}
.wrapper{
  width: 90%;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 48px;
  line-height: 150px;
  float: left;
}

header nav{
  float: right;
  line-height: 150px;
}
header nav a{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 30px;
}

header nav a:hover{
  background: #D6D6D6;
  border-radius: 40px;
}
