*{margin: 0;padding: 0;}

ul{
  list-style: none;
  padding-left: 0px;
}
.media{
  background: #ECE9E9;
}

.media-body{
  margin: auto;
}
.options p {
  text-align: right;
}

.boton{
  float: right;
  padding: 5px;
}
