<div class="col-9">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Carpeta</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carpeta of (carpetas)">
      <th scope="row">{{carpetas.indexOf(carpeta)+1}}</th>
      <td>
        <a routerLink="infoCarpeta">
          {{carpeta.nombre}}
        </a>
      </td>
      <td>
        <a routerLink="infoCarpeta">Información...</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <router-outlet></router-outlet>
</div>

